body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(120, 18, 120);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 90px;
    /* Adjust width as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: 20px;
    /* Adjust margin as needed */
}

.input-section {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.delete-button {
    margin-left: auto;
    padding: 6px 10px;
    border: none;
    background-color: #ff3333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}